body {
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
  padding: 20px;
}

.front-page {
  text-align: center;
  
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #971152;
  justify-content: space-between;
}